.PostCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 350px;
    width: 100%;
    height: 350px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    margin: auto;
}
.PostCard img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    display: block;
}
.Content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 32px;
}
.Content div p,
.Content div span {
    font-size: 0.8rem;
}
.PostCard h1 {
    margin: 0;
    font-size: 1.25rem;
}
.PostCard a {
    height: 50px;
    width: 100%;
    text-decoration: none;
    display: flex;
    padding: 0 30px 0 32px;
    align-items: center;
    justify-content: space-between;
    color: black;
    font-weight: bold;
    transition: 0.5s;
}
.PostCard a span {
    transform: rotate(45deg);
}
.Button {
    overflow: hidden;
    border-top: 1px solid black;
}
.PostCard a:hover,
.PostCard a:active {
    transform: translateX(calc(50% - 30px - 45px));
}

@media (max-width: 360px) {
    .PostCard {
        height: 300px;
        width: 95%;
    }
    .PostCard h1 {
        font-size: 1rem;
    }
    .PostCard img {
        height: 175px;
    }
    .PostCard a {
        height: 45px;
        font-weight: 600;
    }
}

@media (max-width: 260px) {
    .PostCard a {
        transform: none;
    }
}
