.Reference {
    height: 150px;
    border-left: 1px solid #afafaf;
    width: 100%;
    margin-left: 100px;
    padding: 25px 0 25px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.Reference p,
.Reference a {
    font-size: 1rem;
    text-decoration: none;
    color: #afafaf;
}
.Reference p:first-of-type {
    font-size: 1.25rem;
    margin: 0;
    flex-grow: 1;
}

@media (max-width: 1250px) {
    .Reference {
        border-left: none;
        border-top: 1px solid #afafaf;
        padding: 25px;
        margin: 0;
    }
    .Reference p:first-of-type {
        font-size: 1rem;
        font-weight: bold;
    }
}
