body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

input,
textarea,
button,
select,
span,
a {
    outline: none;
    -webkit-tap-highlight-color: transparent;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
